Label {
    color: white;
}

.formBtn {
    border-radius: 1.5rem;
    background-color: #6577ab;
    border-color: #6577ab60;
}

.formBtn:hover {
    background-color: #6577abc0;
    border-color: #6577ab60;
}

.vl {
    border-left: 3px solid #e0d8c1;
    height: 530px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 7%;
    border-radius: 2px;
}