h4 {
    color: #e0d8c1;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 2%;
    margin-inline: 10%;
    text-align: center;
}

p {
    color: #e0d8c1;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
    text-justify: inter-word;
    padding-top: 7%;
}

h3 {
    color: #e0d8c1;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 2%;
    margin-inline: 10%;
    text-align: center;
}