.titleH1 {
    /* color: #e0d8c1; */
    color:whitesmoke;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 2px #424242;
}

.titleH3 {
    color: whitesmoke;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 2px #424242;
}

.titleH4 {
    /* color: #e0d8c1; */
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 2%;
    margin-inline: 10%;
    text-align: center;
}

.titleh5 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

/* p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
} */

.homepageP {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}

.particlesBG {
    height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
} 

.logUpload {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #212428;
    border-radius: 15px;
}

.btnUpload {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: whitesmoke;
    color: #212428;
  }
  
  .btnUpload:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    background-color: whitesmoke;
    color: #212428;
  }

  .fVfcRr > span{
    color: whitesmoke !important;
  }

  /* SEARCHBOX */

  .input-wrapper-searchBox {
    position: relative;
    /* width: 500px; */
    margin-top: 2%;
    margin-bottom:10%;
}
.input-highlight-searchBox {
    font-size: 20px;
    user-select: none;
    line-height: 70px;
    border-top: 3px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 0;
    color: transparent;
    font-family: Roboto Slab, sans-serif;
    overflow: hidden;
}
.input-searchBox {
    height: 60px;
    width: 100%;
    /* min-width: 100%; */
    padding: 0;
    border-radius: 0;
    line-height: 70px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(119, 119, 119);
    font-family: Roboto Slab, sans-serif;
}
.input-searchBox:focus + .input-highlight-searchBox {
    border-top: 3px solid #fbc91b;
}

.statisticsH4 {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 2%;
    margin-inline: 10%;
    text-align: center;
}

.statisticsH3 {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 2px #424242;
}

#statisticLineP {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
    text-justify: inter-word;
    padding-top: 7%;
}

.editVideoButtonSave {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    /* outline-color: rgba(255, 255, 255, 0.5); */
    outline-color: rgb(52, 112, 41);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(52, 112, 41);
    color: whitesmoke;
    width: 50%;
  }
  
  .editVideoButtonSave:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    background-color: rgb(52, 112, 41);
    color: whitesmoke;
  }

  .editVideoButtonCancel {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    /* outline-color: rgba(255, 255, 255, 0.5); */
    outline-color: rgb(149, 43, 43);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(149, 43, 43);
    color: whitesmoke;
    width: 50%;
  }
  
  .editVideoButtonCancel:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    background-color: rgb(149, 43, 43);;
    color: whitesmoke;
  }